TodoServiceTestClient/Connected Services/ServiceReference2/TodoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="TodoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:65444/TodoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:65444/TodoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:65444/TodoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TodoServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITodoService_GetTodoItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTodoItem" />
  </wsdl:message>
  <wsdl:message name="ITodoService_GetTodoItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTodoItemResponse" />
  </wsdl:message>
  <wsdl:message name="ITodoService_GetAllTodoItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTodoItems" />
  </wsdl:message>
  <wsdl:message name="ITodoService_GetAllTodoItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTodoItemsResponse" />
  </wsdl:message>
  <wsdl:message name="ITodoService_AddTodoItem_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTodoItem" />
  </wsdl:message>
  <wsdl:message name="ITodoService_AddTodoItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTodoItemResponse" />
  </wsdl:message>
  <wsdl:message name="ITodoService_UpdateTodoItem_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTodoItem" />
  </wsdl:message>
  <wsdl:message name="ITodoService_UpdateTodoItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTodoItemResponse" />
  </wsdl:message>
  <wsdl:message name="ITodoService_DeleteTodoItem_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTodoItem" />
  </wsdl:message>
  <wsdl:message name="ITodoService_DeleteTodoItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTodoItemResponse" />
  </wsdl:message>
  <wsdl:portType name="ITodoService">
    <wsdl:operation name="GetTodoItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ITodoService/GetTodoItem" message="tns:ITodoService_GetTodoItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITodoService/GetTodoItemResponse" message="tns:ITodoService_GetTodoItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTodoItems">
      <wsdl:input wsaw:Action="http://tempuri.org/ITodoService/GetAllTodoItems" message="tns:ITodoService_GetAllTodoItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITodoService/GetAllTodoItemsResponse" message="tns:ITodoService_GetAllTodoItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTodoItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ITodoService/AddTodoItem" message="tns:ITodoService_AddTodoItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITodoService/AddTodoItemResponse" message="tns:ITodoService_AddTodoItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTodoItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ITodoService/UpdateTodoItem" message="tns:ITodoService_UpdateTodoItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITodoService/UpdateTodoItemResponse" message="tns:ITodoService_UpdateTodoItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTodoItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ITodoService/DeleteTodoItem" message="tns:ITodoService_DeleteTodoItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITodoService/DeleteTodoItemResponse" message="tns:ITodoService_DeleteTodoItem_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITodoService" type="tns:ITodoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTodoItem">
      <soap:operation soapAction="http://tempuri.org/ITodoService/GetTodoItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTodoItems">
      <soap:operation soapAction="http://tempuri.org/ITodoService/GetAllTodoItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTodoItem">
      <soap:operation soapAction="http://tempuri.org/ITodoService/AddTodoItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTodoItem">
      <soap:operation soapAction="http://tempuri.org/ITodoService/UpdateTodoItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTodoItem">
      <soap:operation soapAction="http://tempuri.org/ITodoService/DeleteTodoItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TodoService">
    <wsdl:port name="BasicHttpBinding_ITodoService" binding="tns:BasicHttpBinding_ITodoService">
      <soap:address location="http://localhost:65444/TodoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>