TodoServiceTestClient/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="TodoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ITodoService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/TodoServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITodoService_GetTodoItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTodoItem" />
  </wsdl:message>
  <wsdl:message name="ITodoService_GetTodoItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTodoItemResponse" />
  </wsdl:message>
  <wsdl:message name="ITodoService_GetAllTodoItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTodoItems" />
  </wsdl:message>
  <wsdl:message name="ITodoService_GetAllTodoItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTodoItemsResponse" />
  </wsdl:message>
  <wsdl:message name="ITodoService_AddTodoItem_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTodoItem" />
  </wsdl:message>
  <wsdl:message name="ITodoService_AddTodoItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTodoItemResponse" />
  </wsdl:message>
  <wsdl:message name="ITodoService_UpdateTodoItem_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTodoItem" />
  </wsdl:message>
  <wsdl:message name="ITodoService_UpdateTodoItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTodoItemResponse" />
  </wsdl:message>
  <wsdl:message name="ITodoService_DeleteTodoItem_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTodoItem" />
  </wsdl:message>
  <wsdl:message name="ITodoService_DeleteTodoItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTodoItemResponse" />
  </wsdl:message>
  <wsdl:portType name="ITodoService">
    <wsdl:operation name="GetTodoItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ITodoService/GetTodoItem" message="tns:ITodoService_GetTodoItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITodoService/GetTodoItemResponse" message="tns:ITodoService_GetTodoItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTodoItems">
      <wsdl:input wsaw:Action="http://tempuri.org/ITodoService/GetAllTodoItems" message="tns:ITodoService_GetAllTodoItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITodoService/GetAllTodoItemsResponse" message="tns:ITodoService_GetAllTodoItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTodoItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ITodoService/AddTodoItem" message="tns:ITodoService_AddTodoItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITodoService/AddTodoItemResponse" message="tns:ITodoService_AddTodoItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTodoItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ITodoService/UpdateTodoItem" message="tns:ITodoService_UpdateTodoItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITodoService/UpdateTodoItemResponse" message="tns:ITodoService_UpdateTodoItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTodoItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ITodoService/DeleteTodoItem" message="tns:ITodoService_DeleteTodoItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITodoService/DeleteTodoItemResponse" message="tns:ITodoService_DeleteTodoItem_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ITodoService" type="tns:ITodoService">
    <wsp:PolicyReference URI="#NetTcpBinding_ITodoService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetTodoItem">
      <soap12:operation soapAction="http://tempuri.org/ITodoService/GetTodoItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTodoItems">
      <soap12:operation soapAction="http://tempuri.org/ITodoService/GetAllTodoItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTodoItem">
      <soap12:operation soapAction="http://tempuri.org/ITodoService/AddTodoItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTodoItem">
      <soap12:operation soapAction="http://tempuri.org/ITodoService/UpdateTodoItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTodoItem">
      <soap12:operation soapAction="http://tempuri.org/ITodoService/DeleteTodoItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TodoService">
    <wsdl:port name="NetTcpBinding_ITodoService" binding="tns:NetTcpBinding_ITodoService">
      <soap12:address location="net.tcp://localhost:8080/TodoService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8080/TodoService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>OCTAVIO-CAYLENT\Octavio</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>